<!doctype html>
<html>

<head>
    <meta charset="utf-8">

    <meta name="description" content="" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/5fcf633793.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ site.url }}/css/styles.css">
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-70WXG8HH37"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-70WXG8HH37');
</script>

</head>

<body>
    {{ content }}
    {% include footer.html %}
    <script src="/js/scripts.js" crossorigin="anonymous"></script>
</body>

</html>